body {
	margin: 0;
	padding: 0;
}

#fundo{
-webkit-transform: translateZ(-1px);
    transform: translateZ(-1px);


}
#garrafa {
	position: fixed;
	top:2500px;
	left:700px;%;
	-webkit-transform: translateZ(0);
    transform: translateZ(0);
    height: 25%;
}


.caixa {
   position: relative;
   text-align: center;
} 


.container {
  position: relative;
  width: 10%;

}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
  border-radius: 20px;
}

.container:hover .overlay {
  opacity: 0.9;
}

.text {
  color: white;
  font-size: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.conftextos h1 {
   color:white ;
   font-weight: 400;
   font-size: 20px;
   font-family: 'Varela Round', sans-serif;
   margin: 15px;
}




.texto10 {
  width: 3450px;
  position: absolute;
  top: 727px;
  left: 205px;
  text-align: left;
}

.texto20 {
  width: 3050px;
  position: absolute;
  top: 937px;
  left: 990px;  
  text-align: left;
}

.texto30 {
	  width: 3050px;
  position: absolute;
  top: 1227px;
  left: 105px;
  text-align: left;
}

.texto40 {
  width: 3550px;
  position: absolute;
  top: 1527px;
  left: 945px;
  text-align: left;

}

a {
   font-weight: 400;
   font-size: 20px;
   font-family: 'Varela Round', sans-serif;
   margin-top: 15px;
   margin-left: 15px;
   color: white;

}

.texto50 {
	 width: 2750px;
  position: absolute;
  top: 1897px;
  left: 210px;
  text-align: left;
}

.texto60 {
    width: 8950px;
  position: absolute;
  top: 2397px;
  left: 280px;
  text-align: left;
}

.texto70 {
    width: 2950px;
  position: absolute;
  top: 2897px;
  left: 180px;
  text-align: left;
}

.texto80 {
    width: 3650px;
  position: absolute;
  top: 3157px;
  left: 840px;
  text-align: left;
}

.texto90 {
  width: 3650px;
  position: absolute;
  top: 3497px;
  left: 790px;
  text-align: left;

}  

.text90 {
	color: white;
  font-size: 7px;
  font-family: 'Varela Round', sans-serif;
  margin: 15px;
  font-weight: 400;
}




.img-container1 { 
  float: left; 
  width: 32.63%; 
  padding: 5px; 
  text-align: justify;
} 

.img-container2 { 
  float: left; 
  width: 60.63%; 
  padding: 6px; 
  text-align: justify;
} 

.clearfix::after { 
  content: ""; 
  clear: both; 
  display: table; 

} 

.te2 {
	color: white;
	font-size: 30px;
	font-family: 'Varela Round', sans-serif;
	margin: 20px;
	text-align: center;
}

