body {
	margin: 0;
	padding: 0;
}

#fundo{
-webkit-transform: translateZ(-1px);
    transform: translateZ(-1px);


}
#garrafa {
	position: fixed;
	top:2500px;
	left:700px;%;
	-webkit-transform: translateZ(0);
    transform: translateZ(0);
    height: 25%;
}


.caixa {
   position: relative;
   text-align: center;
} 


.container {
  position: relative;
  width: 10%;

}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
  border-radius: 20px;

}

.container:hover .overlay {
  opacity: 0.9;
}

.text {
  color: white;
  font-size: 10px;
  position: absolute;
  top: 50%;
  left: 50%;

  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.conftextos h1 {
   color:white ;
   font-weight: 400;
   font-size: 20px;
   font-family: 'Varela Round', sans-serif;
   margin: 15px;
}

.texto10 {
  width: 3450px;
  position: absolute;
  top: 727px;
  left: 205px;
  text-align: left;
}

.texto20 {
  width: 4050px;
  position: absolute;
  top: 237px;
  left: 850px;
  text-align: left;
}

.texto30 {
	width: 100%;
	position: absolute;
	top: 307px;
	left: 300;
}